# Introdução ao Pandas II

In [17]:
import pandas as pd

path = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\'
file = 'bank-full.xlsx'

df = pd.read_excel(path + file, sheet_name= 'Sheet 1 - bank-full')

df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown

### Média (mean)

Podemos obter o valor da média simples dos dados utilizando a função pd.mean()

In [18]:
media = df['balance'].mean()

# A função round trata valores, ajustando o número de casas decimais -> round(number, number_of_digits)
round(media,2)

1362.27

### Calculando a média de mais de uma coluna

In [19]:

# Para selecionar mais de uma coluna, você deve passar uma lista contendo os nomes das colunas do Data Frame-> 
# Exemplo -> dataframe[[lista]]
round(df[['balance','duration']].mean(), 0)

balance     1362.0
duration     258.0
dtype: float64

### Soma (sum)

Quando precisamos saber a soma dos valores de uma determinada variável, podemos usar a função pd.sum()

In [20]:
df.balance.sum()

61589682

In [21]:
df.duration.sum()

11671811

In [22]:
# Soma de uma lista de variáveis (coluna)
df[['pdays','duration','balance']].sum()

pdays        1817384
duration    11671811
balance     61589682
dtype: int64

### Unique e Nunique

Unique - nos mostra todos os valores únicos de uma coluna

Nunique - nos mostra a quantidade de elementos únicos em uma coluna

In [23]:
# Comando unique
df.job.unique()

array(['management', 'technician', 'entrepreneur', 'blue-collar',
       'unknown', 'retired', 'admin.', 'services', 'self-employed',
       'unemployed', 'housemaid', 'student'], dtype=object)

In [24]:
# Comando Nunique
df.job.nunique()

12

### Dados Duplicados

A quantidade de elementos duplicados em uma coluna

In [25]:
df.job.duplicated().sum()

45199

A quantidade de elementos duplicados em uma tabela

In [26]:
df.duplicated().sum()

0

### Identificar os valores duplicados

In [ ]:
df.loc[df.duplicated() == True
       ]