# LISTA DE EXERCÍCIO 05 – MANIPULANDO DADOS COM PANDAS (PARTE 1) 

### Exercício 03 – Manipulando dados com Pandas

a) Crie um programa em pandas para ler o arquivo em Excel vendas.xlsx e

b) coloque em um dataframe.

c) Visualize o cabeçalho dos dados;

In [1]:
# Importar biblioteca 
import pandas as pd

# Mapear diretório e arquivo
caminho = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\'
arquivo = 'Vendas.xlsx'

# Atribuir os dados no Data Frame
df = pd.read_excel(caminho + arquivo, sheet_name= 'Planilha1')

#Visualizar os cabeçalhos
df.head()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

d) Visualize as últimas linhas;

In [2]:
df.tail()

,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5,Coluna 6
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

e) Escreva um programa para renomear o cabeçalho da tabela com os seguintes nomes:

In [3]:
df.columns = ['Data','Vendedor','Cargo','Clientela','UF','Vendas']

# Outro forma -> df.rename(Columns={'Coluna 1':'Data','Coluna 2':'Vendedor','...})

df.head()

,Data,Vendedor,Cargo,Clientela,UF,Vendas
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04

In [4]:
df.rename(columns={'Clientela':'Cliente'})

,Data,Vendedor,Cargo,Cliente,UF,Vendas
0,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AL,3276.20
1,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,AP,3005.86
2,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MA,8568.54
3,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MG,1344.27
4,2014-01-01,Bernardo de Sousa,Supervisor de Vendas Pl,ACME,MS,7585.04
...,...,...,...,...,...,...
130461,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PI,1829.39
130462,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,PR,2378.48
130463,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RO,4488.47
130464,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,RR,1543.66
130465,2016-12-31,Liz Azevedo Santos,Vendedor Pl.,Planet Express,SC,9820.71

g) Quais são os tipos de dados que temos no dataframe?

h) Há valores faltantes ou nulos?

In [5]:
df.info()

print(' - Não apresenta valores faltantes ou nulos')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 130466 entries, 0 to 130465
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Data       130466 non-null  datetime64[ns]
 1   Vendedor   130466 non-null  object
 2   Cargo      130466 non-null  object
 3   Clientela  130466 non-null  object
 4   UF         130466 non-null  object
 5   Vendas     130466 non-null  float64
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 6.0+ MB
 - Não apresenta valores faltantes ou nulos

Obs.: Outra opção para buscas os tipos de dados

In [6]:
# Identificar quais registros são nulos
df['Vendas'].isnull()

# Quantidade de elementos nulos
df['Vendas'].isnull().sum()

0

i) Calcule a soma, média, máximo, mínimo e contagem da coluna Preço.

In [7]:
print('O valor da soma da Coluna Vendas é: R$', df['Vendas'].sum())

print('O valor da média da Coluna Vendas é: R$', df['Vendas'].mean())

print('O valor máximo da Coluna Vendas é: R$', df['Vendas'].max())

print('O valor mínimo da Coluna Vendas é: R$', df['Vendas'].min())

print('O valor da contagem da Coluna Vendas é: ', df['Vendas'].count())

O valor da soma da Coluna Vendas é: R$ 718501609.25
O valor da média da Coluna Vendas é: R$ 5507.194282418408
O valor máximo da Coluna Vendas é: R$ 10000.0
O valor mínimo da Coluna Vendas é: R$ 1000.01
O valor da contagem da Coluna Vendas é:  130466

In [8]:
df.describe()

              Vendas
count  130466.000000
mean     5507.194282
std      2598.113042
min      1000.010000
25%      3258.312500
50%      5509.190000
75%      7759.095000
max     10000.000000

j) Crie um programa para criar um dataframe para mostrar as vendas por cargo, e salvar um arquivo em csv para com o nome de cada cargo:

▪ Supervisor de Vendas Pl

▪ Gerente Regional Jr.

▪ Supervisor de Vendas Sr

▪ Coordenador de Vendas Pl.

▪ Vendedor Jr.

▪ Vendedor Sr.

▪ Vendedor Pl.

▪ Gerente Regional Pl.

▪ Coordenador de Vendas Sr.

▪ Coordenador de Vendas Jr.

▪ Supervisor de Vendas Jr.

In [14]:
# Filtrar as vendas de acordo com o cargo

dados = df[df['Cargo'] == 'Supervisor de Vendas Pl']

caminho = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo = 'Supervisor de Vendas Pl.csv'

dados.to_csv(caminho + arquivo)

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\Supervisor de Vendas Pl.csv'

In [20]:
# Gerente Regional Jr.

dados = df[df['Cargo'] == 'Gerente Regional Jr.']

caminho = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo = 'Gerente Regional Jr..csv'

dados.to_csv(caminho + arquivo, encoding= 'ANSI')

In [ ]:
# Supervisor de Vendas Sr

dados2 = df[df['Cargo'] == 'Supervisor de Vendas Sr']

caminho2 = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo2 = 'Supervisor de Vendas Sr.csv'

dados2.to_csv(caminho2 + arquivo2, encoding= 'ANSI')

In [ ]:
# Coordenador de Vendas Pl.

dados3 = df[df['Cargo'] == 'Coordenador de Vendas Pl.']

caminho3 = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo3 = 'Coordenador de Vendas Pl..csv'

dados3.to_csv(caminho3 + arquivo3, encoding= 'ANSI')

In [ ]:
# Vendedor Jr.

dados4 = df[df['Cargo'] == 'Vendedor Jr.']

caminho4 = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo4 = 'Vendedor Jr..csv'

dados4.to_csv(caminho4 + arquivo4, encoding= 'ANSI')

In [ ]:
# Vendedor Sr.

dados5 = df[df['Cargo'] == 'Vendedor Sr.']

caminho5 = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo5 = 'Vendedor Sr..csv'

dados5.to_csv(caminho5 + arquivo5, encoding= 'ANSI')

In [21]:
# Vendedor Pl.

dados6 = df[df['Cargo'] == 'Vendedor Pl.']

caminho6 = 'C:\\Users\\Administrador\\Documents\\Modelos Personalizados do Office\\Rafael Nery - Fundamentos de Big Data e Data Analytics com Python\\003 - Arquivos\\...Relatórios por Cargos\\'

arquivo6 = 'Vendedor Pl..csv'

dados6.to_csv(caminho6+ arquivo6, encoding= 'ANSI')

In [ ]:
# Gerente Regional Pl.

In [ ]:
# Coordenador de Vendas Sr.

In [ ]:
# Coordenador de Vendas Jr.

In [ ]:
# Supervisor de Vendas Jr.

9. Crie um dataframe para cada coluna, contendo dados únicos.

In [18]:
# Criar um Data Frame apenas com a Coluna "Cargo"
dados_cargo = df['Cargo']

# Contar quantos elementos existem antes de remover as duplicatas
dados_cargo.count()

# Criar um novo Data Frame sem duplicatas
dados_cargo = dados_cargo.drop_duplicates()

# Contas quantos elementos ficaram após a remoção das duplicatas
dados_cargo.count()

dados_cargo

0        Supervisor de Vendas Pl
11          Gerente Regional Jr.
37       Supervisor de Vendas Sr
48     Coordenador de Vendas Pl.
98                  Vendedor Jr.
162                 Vendedor Sr.
174                 Vendedor Pl.
186         Gerente Regional Pl.
276    Coordenador de Vendas Sr.
285    Coordenador de Vendas Jr.
436     Supervisor de Vendas Jr.
Name: Cargo, dtype: object